
@{
    ViewData["Title"] = "Menü";
}
@model List<YemekSiparisSistemi.Models.Menu>
<div class="container-fluid">
    <div class="row">
        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <a href="/Restaurant/Index" style="color:indigo;">Ana Sayfa</a>
                </li>
                <li class="breadcrumb-item active">Menüler</li>
            </ol>
        </nav>
    </div>
    <div class="row py-3 justify-content-center">
        <div class="col-12 mb-3">
            <div class="table-responsive">
                <table class="table align-middle caption-top text-center">
                    <caption>Ürünler Listesi</caption>
                    <thead class="table-light">
                        <tr>
                            <th>#</th>
                            <th>Menü Adı</th>
                            <th>Menü Resmi</th>
                            <th>Toplam Fiyatı</th>
                            <th>Detay</th>
                            <th>Düzenle</th>
                            <th>Sil</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count == 0)
                        {
                            <tr>
                                <td colspan="8"> Kayıtlı Menü bulunmamaktadır!</td>
                            </tr>
                        }
                        else
                        {
                            int i = 1;
                            foreach (var menu in Model)
                            {
                                <tr id="@menu.Id">
                                    <td>@i</td>
                                    <td>@menu.MenuName</td>
                                    <td><img src="~/Menus/@menu.CompanyId.ToString()/@menu.MenuImage" + width="45" height="45" alt="Menü Resmi" /></td>
                                    <td>@menu.TotalPrice</td>
                                    <td><a href="#" class="btn btn-sm btn-primary">Detay</a></td>
                                    <td><a href="#" class="btn btn-sm btn-success">Düzenle</a></td>
                                    <td><a onclick="OpenMenuDeleteModal(@menu.Id,'@menu.MenuName')" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#menuDeleteModal">Sil</a></td>
                                </tr>
                                i++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12 text-center">
            <a href="/Restaurant/Menu/Create" type="button" class="btn btn-sm btn-outline-primary">Yeni Menü Ekle</a>
        </div>
    </div>
</div>

<!--toast start-->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Yemek Sipariş Sistemi</strong>
            <small>Az Önce...</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="toast-message">
        </div>
    </div>
</div>
<!--toast end-->
<!--Delete Modal-->
<div class="modal" id="menuDeleteModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Menü Sil</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="menuDeleteModalMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">İptal</button>
                <button type="button" id="btnDeleteMenu" class="btn btn-primary btn-sm">Evet</button>
            </div>
        </div>
    </div>
</div>
<!--Finish Delete Modal-->

@section scripts{
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script>
        function OpenMenuDeleteModal(id, menuName) {
            $("#menuDeleteModalMessage").text(menuName + " isimli ürün silinsin mi?");
            $("#btnDeleteMenu").data("data-id", id);
        }

        $(document).ready(function () {
            $("#btnDeleteMenu").click(function () {
                let menuId = $("#btnDeleteMenu").data("data-id");
                $.ajax({
                    method: "post",
                    url: "/restaurant/menu/delete/" + menuId,
                    success: function (menuName) {
                        if (menuName != null) {
                            $("tr#" + menuId).remove();
                            $("#menuDeleteModal").modal("toggle");
                            TriggerToast(menuName, "silindi");
                        } else {
                            $("#menuDeleteModal").modal("toggle");
                            alert("Menü Silme işlemi başarısız!!!");
                        }
                    }
                });
            });
        });





        function TriggerToast(message, status) {
            const toast = document.getElementById('toast')
            const messageBody = document.getElementById("toast-message");
            messageBody.innerText = message + " isimli menü, başarılı bir şekilde " + status;
            const instance = bootstrap.Toast.getOrCreateInstance(toast)
            instance.show();
        }

    </script>
}